OPENAI_API_KEY=
MEILI_MASTER_KEY=local_master_key
STRAPI_API_TOKEN=

STRAPI_APP_KEYS=localKeyA,localKeyB
STRAPI_API_TOKEN_SALT=localApiTokenSalt
STRAPI_ADMIN_JWT_SECRET=localAdminJwtSecret
STRAPI_ADMIN_ENCRYPTION_KEY=localAdminEncryptionKey
STRAPI_TRANSFER_TOKEN_SALT=localTransferTokenSalt
STRAPI_JWT_SECRET=localJwtSecret
